<div class="row">
    <div class="col-md-8 offset-md-2 offset-md-right-2 mt-5">
        <h1>Eat-Da-Burger!</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Burgers to Eat:</h2>
    </div>

    <div class="col-md-4">
        <img src="assets/img/burger.gif" alt="Burger Image" id="burger_image" class="rounded">
    </div>

    <div class="col-md-4">
        <h2>Burgers Devoured:</h2>
    </div>

</div>


<div class="row mt-5">

    <div class="col-md-6 offset-md-3 offset-md-right-3">

        <form class="create-form">

        <div class="form-group">
            <textarea class="form-control" id="new_burger_name" name="name" rows="3" placeholder="Add a burger to eat..."></textarea>
        </div>

        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Submit</button>
        </form>
    </div>
</div>
